* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: myInter;
  src: url("./samples/Inter_Black_Font_Family/Inter_Black_900.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

#background-image {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

body {
  background-color: aliceblue;
  color: darkslategrey;
  background-image: url("./samples/istockphoto-1404894979-612x612.jpg");
  padding: 5px 5px;
}

header,
nav,
footer {
  background-color: rgba(240, 248, 255, 0.9);
  border-radius: 20px;
  text-align: center;
  margin-bottom: 10px;
  padding: 2vh, 2vw;
}

header {
  padding: 2px;
}

nav {
  position: sticky;
  top: 0;
  display: block;
  margin-bottom: 5px;
}

h1,
h1 + p {
  font-family: myInter;
}

h2 {
  font-style: oblique;
  text-align: center;
  padding-left: 1vw;
}

h2 + p {
  text-align: center;
}

.first,
.second,
.third,
.table,
.frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 20px;
  column-gap: 15px;
  background-color: rgba(240, 248, 255, 0.85);
  border-radius: 20px;
}

main {
  display: flex;
  flex-direction: column;
}

ul {
  background-color: rgba(47, 79, 79, 0.05);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-content: center;
  display: flex;
  justify-content: space-evenly;
}

ul li a {
  float: left;
  text-align: center;
  display: block;
  color: darkslategrey;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border: 1px solid transparent;
}

ul li a:hover {
  border-width: 1px;
  border-radius: 20px;
  border-color: rgb(100, 100, 100);
  background-color: rgba(47, 79, 79, 0.1);
}

ul li a:active {
  background-color: rgba(171, 174, 174, 0.279);
  border-radius: 20px;
  border-width: 1.5px;
  border-color: rgb(0, 0, 0);
  color: black;
}

section {
  padding: 25px;
  margin-bottom: 3px;
}

iframe {
  border-radius: 15px;
}
